extends layout

block content
  .title
    h1= title
  
  each message in messages
    .messagess
      h1= message.topic
      p= `Message: ${message.text}`
      h3= `from: ${message.user}`
      p= `Posted: ${message.added}`
  button(onclick="window.location.href='new'") New Message